@model MVC.Models.Account.UserAccount


<h1>Fazer Login no Spotify</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login" asp-route-returnUrl="@ViewBag.ReturnUrl">

            @if (ViewBag.LoginError != null)
            {
                <span class="alert alert-danger">@ViewBag.LoginError</span>
            }

            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                Manter Conectado? <input asp-for="AutenticacaoPersistente" type="checkbox" />
            </div>

            <div class="form-group">
                <input type="submit" value="Fazer Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
